ion-header{
    width: 100%;
    ion-toolbar{
      --background: var(--color-primary);
      ion-button{
        display: flex;
        align-items: center;
        justify-content: center;
        a ion-icon{
          --color: var(--color-primary);
        }
      }
      ion-button:hover{
        --background: var(--color-secondary);
      }
    }
    ion-button{
      --background: var(--color-light);
      --color: var(--color-light);
      --border-radius: 1rem;
      font-weight: bold;
      padding-right: 1rem;
    }
  }
  .signup-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: url(../../assets/Backgroundimage.png);
      ion-text{
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
    }
    
    ion-grid {
      --ion-grid-padding: 0;
      ion-raw{
        width: 100%;
        ion-col{
          width: 100%;
        } 
      }
    }
    
    ion-item {
      margin-bottom: 20px;
      --background: transparent;
    }
    ion-button{
      --border-radius: 1rem;
      --color: var(--color-light);
      --background: var(--color-primary);
    }
    .password-icon {
      cursor: pointer;
    }
    