<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pengaturan-diskon</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Main Content -->
  <div class="container">
    <div class="card">
      <div class="card-header">
        <button class="btn-back" routerLink="../"><ion-icon name="return-up-back-outline"></ion-icon></button>
        <h3>Pengaturan Diskon</h3>
      </div>
      <div class="card-body">
        <h1>Coming Soon</h1>
      </div>
    </div>
  </div>  
</ion-content>
