<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">konfirmasi-order</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Main-content -->
  <div class="container" *ngIf="customer && order">
    <div class="header">
      <span class="large">{{ customer.name }}</span>
      <span class="large">(Nota)</span>
      <span class="large">{{ order.duration }} Jam</span>
      <span class="small">(Layanan)</span>
    </div>
    <div class="card-info">
      <span class="large">KONFIRMASI ORDER LAUNDRY</span>
      <div class="detail-info">
        <span class="title">Total Biaya Laundry</span>
        <span class="harga">Rp. {{ calculateTotal() }}</span>
        <span class="xlarge">{{ order.kilo }} Kg</span>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn-item" (click)="orderReady()">Pesanan Telah Siap</button>
      <button class="btn-item-cancel" (click)="cancelOrder()">Batalkan Pesanan</button>
    </div>
  </div>
</ion-content>
