<div class="overlayModal hidden" id="overlayModal"></div>
<div class="modal-whatsapp hidden"id="modalDelete">
  <div class="card">
    <div class="card-header">
      <h3>Anda ingin memilih layanan Antar - Jemput?</h3>
      <span class="small">(akan dialihkan ke Whatsapp)</span>
    </div>
    <div class="card-body">
      <div class="btn-group">
        <button class="btn-submit" type="submit"><a href="https://api.whatsapp.com/send?phone=6289643184231&text=Nama:%0AAlamat:%0AParfum:%0AKiloan/Satuan:%0ALayanan%20(reguler/express/kilat):%0ACatatan:">Ya</a></button>
        <button class="btn-cancel" type="submit" id="btnCancel" #btnCancel>Cancel</button>
      </div>
    </div>
  </div>
</div>