<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">laporan-kas</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Main-content -->
  <div class="container">
    <div class="card">
      <div class="card-header">
        <button class="btn-back" routerLink="../"><ion-icon name="return-up-back-outline"></ion-icon></button>
        <h3>Laporan Kas</h3>
      </div>
      <div class="card-body">
        <div class="text-group">
          <span class="large-first">Outlet</span>
          <span class="large">Capy Wash</span>
        </div>
        <div class="text-group">
          <span class="large-first">Periode</span>
          <span class="large">(awal)-(akhir)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Pendapatan</span>
          <span class="large">Rp.(0)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Penambahan Kas</span>
          <span class="large">Rp.(0)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Pengurangan Kas</span>
          <span class="large">Rp.(0)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Saldo Akhir</span>
          <span class="large">Rp.(0)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Total Antar-Jemput</span>
          <span class="large">Rp.(0)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Total Diskon</span>
          <span class="large">Rp.(0)</span>
        </div>
        <div class="text-group">
          <span class="large-first">Total Kiloan</span>
          <span class="large">(0) Kg</span>
        </div>
        <div class="text-group">
          <span class="large-first">Total Satuan</span>
          <span class="large">(0) pcs</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
