@import url(../../global.scss);

ion-header{
  --background: var(--color-primary);
}
.container{
  background-image: url(../../assets/Backgroundimage.png);
  object-fit: cover;
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'quicksand';
  transition: all .35s ease-in;
}

// Logo
.logo-brand {
  margin-top: 2rem;
}
// form
.form-tambah{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  margin-top: 18rem;
}
.btn-item{
  display: flex;
  width: 15rem;
  height: 2.5rem;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: var(--color-primary);
  box-shadow: 0px 1px 17px 2px rgba(0,0,0,0.75);
  cursor: pointer;
}
.btn-item ion-icon{
  position: absolute;
  left: 0;
  margin-left: 1rem;
}
// Navbar
.navbar{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--color-light);
  padding-top: .5rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .35s ease-in;
}
.nav-item{
  display: flex;
  flex-direction: column;
  padding: .5rem;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  width: 5rem;
  transition: all .5s ease-in-out;
}
.nav-item ion-icon{
  font-weight: bold;
  font-size: 1rem;
}
.nav-item .title{
  color: black;
  
  font-size: .8rem;
}
.nav-item:hover,.active{
  background-color: var(--color-hover);
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px 1px 17px 2px rgba(0,0,0,0.75);
  overflow: hidden;
  font-weight: bold;
}